---
http_interactions:
- request:
    method: post
    uri: https://rest.cleverreach.com/v2/login.json
    body:
      encoding: UTF-8
      string: '{"client_id":"123456","login":"user","password":"pass"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Cr-I:
      - api-eu1-i-06a8e3a7a846ae60b D=99056 t=1507238129093788
    body:
      encoding: UTF-8
      string: '{"error":{"code":400,"message":"Bad Request: Credentials not valid"}}'
  recorded_at: Thu, 05 Oct 2017 21:15:29 GMT
recorded_with: VCR 3.0.3
