---
http_interactions:
- request:
    method: post
    uri: https://rest.cleverreach.com/v2/login.json
    body:
      encoding: UTF-8
      string: '{"client_id":"123456","login":"user","password":"pass"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Cr-I:
      - api-eu1-i-0c8d198d0b6c95c08 D=196371 t=1507582758078878
    body:
      encoding: UTF-8
      string: '"ey123"'
  recorded_at: Mon, 09 Oct 2017 20:59:18 GMT
- request:
    method: post
    uri: https://rest.cleverreach.com/v2/groups.json/654321/receivers/insert?token=ey123
    body:
      encoding: UTF-8
      string: '{"postdata":[{"email":"bruce@gotham.de","source":null,"global_attributes":{"firstname":"Firstname","lastname":"Lastname"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Cr-I:
      - api-eu1-i-0eba7c3120d49716c D=145789 t=1507582758433237
    body:
      encoding: UTF-8
      string: '[{"status":"insert success","id":435742}]'
  recorded_at: Mon, 09 Oct 2017 20:59:18 GMT
recorded_with: VCR 3.0.3
