---
http_interactions:
- request:
    method: post
    uri: https://rest.cleverreach.com/v2/login.json
    body:
      encoding: UTF-8
      string: '{"client_id":"123456","login":"user","password":"pass"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Cr-I:
      - api-eu1-i-0c97767bc5d119392 D=175983 t=1507323873187182
    body:
      encoding: UTF-8
      string: '"ey123"'
  recorded_at: Fri, 06 Oct 2017 21:04:33 GMT
- request:
    method: post
    uri: https://rest.cleverreach.com/v2/groups.json/654321/receivers/insert?token=ey123
    body:
      encoding: UTF-8
      string: '{"postdata":[{"email":"bruce@gotham.de","source":"rspec"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Cr-I:
      - api-eu1-i-0dcd0c33704226881 D=224299 t=1507323873552741
    body:
      encoding: UTF-8
      string: '[{"status":"insert success","id":435618}]'
  recorded_at: Fri, 06 Oct 2017 21:04:33 GMT
recorded_with: VCR 3.0.3
