---
http_interactions:
- request:
    method: post
    uri: https://rest.cleverreach.com/v2/login.json
    body:
      encoding: UTF-8
      string: '{"client_id":"123456","login":"user","password":"pass"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Cr-I:
      - api-eu1-i-0c8d198d0b6c95c08 D=173357 t=1507241975492444
    body:
      encoding: UTF-8
      string: '"ey123"'
  recorded_at: Thu, 05 Oct 2017 22:19:35 GMT
- request:
    method: delete
    uri: https://rest.cleverreach.com/v2/groups.json/654321/receivers/email@domain.de?token=ey123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Cr-I:
      - api-eu1-i-0fba48448d413b925 D=140927 t=1507241975822339
    body:
      encoding: UTF-8
      string: '{"error":{"code":404,"message":"Not Found"}}'
  recorded_at: Thu, 05 Oct 2017 22:19:35 GMT
recorded_with: VCR 3.0.3
