---
http_interactions:
- request:
    method: post
    uri: https://rest.cleverreach.com/v2/login.json
    body:
      encoding: UTF-8
      string: '{"client_id":"123456","login":"user","password":"pass"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Cr-I:
      - api-eu1-i-0eba7c3120d49716c D=198872 t=1507322325412814
    body:
      encoding: UTF-8
      string: '"ey123"'
  recorded_at: Fri, 06 Oct 2017 20:38:45 GMT
- request:
    method: post
    uri: https://rest.cleverreach.com/v2/groups.json/654322/receivers/insert?token=ey123
    body:
      encoding: UTF-8
      string: '{"postdata":[{"email":"email@domain.de"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Cr-I:
      - api-eu1-i-0fba48448d413b925 D=155784 t=1507322325774327
    body:
      encoding: UTF-8
      string: '{"error":{"code":405,"message":"Method Not Allowed: invalid group"}}'
  recorded_at: Fri, 06 Oct 2017 20:38:45 GMT
recorded_with: VCR 3.0.3
